/*
 * Author lxm
 */
html{overflow-x:auto;overflow-y:scroll;}
body,input,select,textarea {font: 12px/18px 'microsoft yahei', Arial;}
body, h1, h2, h3, h4, h5, h6 ,p,ul,ol,form,input,textarea,th,td{margin: 0px;padding: 0px;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea{font-size:1em; }
::-webkit-input-placeholder{color:#c8c8c8;}
::-moz-placeholder{color:#c8c8c8;}
:-moz-placeholder{color:#c8c8c8;}
input:-moz-placeholder{color:#c8c8c8;}
:-ms-input-placeholder{color:#c8c8c8;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
ul,ol{list-style-type:none;}
img {border: none;vertical-align: top;}
em,i {font-style: normal;}
input:focus{color: #333;}

.fl{float:left;}
.fr{float:right;}
.cf:after {content: '';display: block;font-size: 0px;line-height: 0px;clear: both;visibility: hidden;}
.cf {zoom: 1;}
.ow{overflow:hidden;zoom:1;}

.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
